<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/>
</head>

<body>
<div class="my-container-wrapper">
    <div class="my-container">
        <div class="header">
            <div class="my-logo">
                <a href="/" title="гостиница в Самаре">
                    <img class="my-logo-img" alt="Гостиница в Самаре" src="~/Content/Other/logo.png" title="Гостиница"/>
                </a>
            </div>

            <div class="contacts">
                <p>
                    г. Самара | ул. Пушкина, 0 | 8 800 000 00 00 | <a href="mailto:example@example.com">example@example.com</a>
                </p>
            </div>
        </div>

        <div class="my-main-menu">
            <table class="my-main-menu-table">
                <tr>
                    <td>
                        @Html.ActionLink("Главная", "Index", "Home")
                    </td>
                    <td>
                        @Html.ActionLink("Список номеров", "All", "Room")
                    </td>
                    <td>
                        @Html.ActionLink("Список бронирования", "All", "Booking")
                    </td>
                    <td>
                        @Html.ActionLink("Список клиентов", "All", "Client")
                    </td>
                </tr>
            </table>
        </div>

        <div class="my-main-content">
            @RenderBody()
        </div>
    </div>
</div>
</body>
</html>