@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @using (Html.BeginForm("Search", "Room", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
    {
        <form class="navbar-nav pull-right">
            <input type="text" name="SearchString" placeholder="Поиск..." class="search-field" />
        </form>
    }

    <h1>Список номеров</h1>
    <table class="room-foreach">
        <tr>
            <td><p>Расположение номера</p></td>
            <td><p>Количество мест</p></td>
            <td><p>Стоимость за сутки</p></td>
            <td><p>Дополнительная информация</p></td>
            <td><p>Фото</p></td>

            <td></td>
            <td></td>
        </tr>
        @foreach (var r in ViewBag.Rooms)
        {
            <tr>
                <td><p>@r.Name</p></td>
                <td><p>@r.NumberOfPeople</p></td>
                <td><p>@r.CostPerDay</p></td>
                <td><p>@r.Description</p></td>
                <td><img src="@r.PhotoUrl" /></td>

                <td><p>@Html.ActionLink("Забронировать", "Book", "Room", new { id = @r.Id }, null)</p></td>
                <td><p>@Html.ActionLink("Редактировать", "Edit", "Room", new { id = @r.Id }, null)</p></td>
            </tr>
        }
    </table>
</div>