@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (ViewBag.Bookings == null)
    {
        <h1>Список бронирования пуст</h1>
    }
    else
    {
        <h1>Список номеров</h1>
        <table class="room-foreach">
            <tr>
                <td>
                    <p>ИН бронирования</p>
                </td>
                <td>
                    <p>Номер комнаты</p>
                </td>
                <td>
                    <p>Дата бронирования</p>
                </td>
                <td>
                    <p>Дата заезда</p>
                </td>
                <td>
                    <p>Дата отъезда</p>
                </td>
                <td>
                    <p>ФИО клиента</p>
                </td>
                <td>
                    <p>Серия и номер паспорта клиента</p>
                </td>
                <td>
                    <p>Стоимость заказа</p>
                </td>

                <td></td>
            </tr>
            @foreach (var b in ViewBag.Bookings)
            {
                <tr>
                    <td>
                        <p>@b.Id</p>
                    </td>
                    <td>
                        <p>@b.RoomId</p>
                    </td>
                    <td>
                        <p>@b.BookingDateTime</p>
                    </td>
                    <td>
                        <p>@b.ArrivalDateTime</p>
                    </td>
                    <td>
                        <p>@b.DepartureDateTime</p>
                    </td>
                    <td>
                        <p>@b.ClientFullName</p>
                    </td>
                    <td>
                        <p>@b.ClientPassportSeriesAndNumber</p>
                    </td>
                    <td>
                        <p>@b.OrderPrice</p>
                    </td>

                    <td>
                        <p>@Html.ActionLink("Удалить бронирование", "Delete", "Booking", new {id = b.Id}, null)</p>
                    </td>
                </tr>
            }
        </table>
    }
</div>