@model HotelWebApp.Helpers.PagedData<HotelWebApp.Models.Room>

<table class="room-foreach">
    <tr>
        <td>
            <p>Расположение номера</p>
        </td>
        <td>
            <p>Количество мест</p>
        </td>
        <td>
            <p>Стоимость за сутки</p>
        </td>
        <td>
            <p>Дополнительная информация</p>
        </td>
        <td>
            <p>Фото</p>
        </td>

        <td></td>
        <td></td>
    </tr>

    @foreach (var r in Model.Data)
    {
        <tr>
            <td>
                <p>@r.Name</p>
            </td>
            <td>
                <p>@r.NumberOfPeople</p>
            </td>
            <td>
                <p>@r.CostPerDay</p>
            </td>
            <td>
                <p>@r.Description</p>
            </td>
            <td>
                <img src="@r.PhotoUrl" alt="Изображение"/>
            </td>

            <td>
                <p>@Html.ActionLink("Забронировать", "Book", "Room", new {id = r.Id}, null)</p>
            </td>
            <td>
                <p>@Html.ActionLink("Редактировать", "Edit", "Room", new {id = r.Id}, null)</p>
            </td>
        </tr>
    }

    <tfoot>
    <tr>
        <td colspan="7">
            @for (int pageNum = 1; pageNum <= Model.TotalPages; pageNum++)
            {
                <a class="page-number" href="javascript:void();">@pageNum</a>
            }
        </td>
    </tr>
    </tfoot>
</table>